.app{
  margin: 20px;
}

h1 {
  text-align: center;
  border: 1px solid red;
  margin-top: 0;
  padding: 10px 0;
}

ul {
  margin: 0;
  /* padding: 0 10px; */
}

li {
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 10px 20px;
  list-style: none;
  border-radius: 2px;
  cursor: pointer;
}

li:hover{
  color: seagreen;
  font-size:border
} 

li span {
  float: right;
}

@media(max-width:560px){
  h4, h5{
    font-size: 17px;
    text-align: center;
  }
  li{
    font-size: 15px;
  }
}
